<!DOCTYPE html>
<html>
<body>
<h1>Simple Bank</h1>
<p>Choose one of the options below:</p>
<form method="POST" action="/account"><button type="submit">Create account</button></form>
<br>
<form method="GET" action="/search/show_balance"><button type="submit">Consult balance</button></form>
<br>
<form method="GET" action="/search/deposit"><button type="submit">Deposit</button></form>
<br>
<form method="GET" action="/search/withdraw"><button type="submit">Withdraw</button></form>
<br>
<form method="GET" action="/search/transfer"><button type="submit">Transfer</button></form>
<br>
<form method="GET" action="/search/delete"><button type="submit">Delete</button></form>
<br>
<form method="GET" action="/all_accounts"><button type="submit">Show all accounts</button></form>
</body>
</html>

